<div>
  <h1 class = "title"> Web-Based Calculator </h1>
  <div class="calculator">
    <app-sub-display></app-sub-display>
    <app-main-display></app-main-display>

    <div class="keys" appKeyboard>
        <app-button btnClass="operator" btnText="%"  (btnClick)="Percentage()">  </app-button>
        <app-button btnClass="operator" btnText="CE" (btnClick)="ClearEntity()"> </app-button>
        <app-button btnClass="operator" btnText="C"  (btnClick)="Clear()">       </app-button>
        <app-button btnClass="operator" btnText="⌫" (btnClick)="Backspace()">   </app-button>

        <app-button btnClass="operator" btnText="⅟𝑥" (btnClick)="Reciprocal()">  </app-button>
        <app-button btnClass="operator" btnText="𝑥²" (btnClick)="Squaring()">    </app-button>         
        <app-button btnClass="operator" btnText="√𝑥" (btnClick)="Square_Root()"> </app-button>
        <app-button btnClass="operator" btnText="÷"  (btnClick)="Operation('÷')"></app-button>

        <app-button btnClass="key" btnText="7"       (btnClick)="Display('7')">  </app-button>
        <app-button btnClass="key" btnText="8"       (btnClick)="Display('8')">  </app-button>
        <app-button btnClass="key" btnText="9"       (btnClick)="Display('9')">  </app-button>
        <app-button btnClass="operator" btnText="×"  (btnClick)="Operation('×')"></app-button>

        <app-button btnClass="key" btnText="4"       (btnClick)="Display('4')">  </app-button>
        <app-button btnClass="key" btnText="5"       (btnClick)="Display('5')">  </app-button>
        <app-button btnClass="key" btnText="6"       (btnClick)="Display('6')">  </app-button>
        <app-button btnClass="operator" btnText="−"  (btnClick)="Operation('−')"></app-button>

        <app-button btnClass="key" btnText="1"       (btnClick)="Display('1')">  </app-button>
        <app-button btnClass="key" btnText="2"       (btnClick)="Display('2')">  </app-button>
        <app-button btnClass="key" btnText="3"       (btnClick)="Display('3')">  </app-button>
        <app-button btnClass="operator" btnText="+"  (btnClick)="Operation('+')"></app-button>

        <app-button btnClass="key" btnText="⁺⁄₋"     (btnClick)="Plus_Minus()">  </app-button>
        <app-button btnClass="key" btnText="0"       (btnClick)="Display('0')">  </app-button>
        <app-button btnClass="key" btnText="."       (btnClick)="Display('.')">  </app-button>
        <app-button btnClass="calc" btnText="="      (btnClick)="Calculate()">   </app-button>
    </div>
  </div>
</div>